<h1>List all Task</h1>


<%= form_with url: "tasks_path", method: :update, class: "mx-10 bg-violet-200 px-4 py-2 rounded", data:{controller: "one-dimension"} do |form| %>
	<%= render @tasks %>
<% end %>